<p>img-render works!</p>

<mat-tab-group>
  <mat-tab label="Фото"  > Content 1
    <div>
      <img
       src="{{SrcImg}}"
      />
    </div>

  </mat-tab>
  <!--------------------------------------------------------- -->
  <mat-tab label="Изменить"> Content 2
       <div>
        <image-cropper
        [imageChangedEvent]="_imageChangedFromFile"
        [maintainAspectRatio]="false"
        [resizeToHeight]="700"
        format="png"


        (imageCropped)="imageCropped($event)"

      >
      </image-cropper>
       </div>


  </mat-tab>
  <!------------------------Load file-->
  <mat-tab label="Загрузить"> Content 3
  <div style="height: 150px;" >

    <div class="messages-show" >
    
    </div>


    <input type="file" (change)="onSetFilePhoto($event)" />

  </div>
  <div *ngIf="loading" class="loader">Loading...</div>
</mat-tab>
</mat-tab-group>

