<div class="_container">
  <h4> Модуль менеджера</h4>
<nav
  class="navbar navbar-light bg-tools "
>
<div class="container-fluid justify-content-center">
  <!-- Links -->
 <span class="nav-item" > <a class="nav-link" routerLink="katalog">Каталог</a></span>
 <span class="nav-item" > <a class="nav-link" routerLink="type-product">Материал</a></span>
 <span class="nav-item" > <a class="nav-link" routerLink="product">Товар-OLD</a> </span>
 <span class="nav-item" > <a class="nav-link" routerLink="product-main">Товар</a> </span>
 <span class="nav-item" > <a class="nav-link" routerLink='item-product'>Состав</a></span>
 <span class="nav-item" >   <a class="nav-link" routerLink="nomenclature">Номенклатура</a></span>
 <span class="nav-item" ><a class="nav-link" routerLink="info"><img src="../../../assets/icon/info_purple.png" height="24" title="vertion"></a></span>

</div>
</nav>
<div class="c-1">
  <img
    src="./../../../assets/diagram/db_shema.png"
    height="300"
    class="rounded mx-auto d-block"
  />
</div>
</div>
