
<nav
  class="navbar navbar-expand-sm bg-warning navbar-light justify-content-center"
>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="katalog">Каталог</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="type-product">Тип</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="product">Товар</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink='item-product'>Состав</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="nomenclature">Номенклатура</a>
    </li>
    <li>
      <a class="nav-link" routerLink="info"><img src="../../../assets/icon/info_purple.png" height="24" title="vertion"></a>
    </li>
  </ul>
</nav>
<div class="c-1">
  <img
    src="./../../../assets/images/diagram/DBModelDiagram.png"
    height="300"
    class="rounded mx-auto d-block"
  />
</div>
