<div class="_contaner">
  <div *ngIf="!_flag_sendServerData; else elseSendData">
    <!-- begin edit  card ------------------------------------->
    <form #myForm="ngForm" novalidate>
    <div class="_input-group">
      <label for="katalog" class="_label">Католог &nbsp; </label>
      <mat-form-field id="katalog" appearance="outline">
        <mat-label> <span class="_label_id" > id( {{ _select_Product.katalogId}})</span>&nbsp;{{_select_Product.katalogName}}</mat-label>
        <input matInput name="katalogName" disabled  />

      </mat-form-field>

    </div>

    <!--------------  Материал== t        -->
    <div class="_input-group">
      <label for="material" class="_label"> Материал</label>
      <mat-form-field id="material" appearance="fill">
        <mat-select name="material"  matNativeControl [(ngModel)]="_select_Product.materialId" #material="ngModel" required >
          <mat-option *ngFor="let item of _materials" [value]="item.id">{{
            item.name
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="material.invalid"> </mat-error>
      </mat-form-field>
    </div>

    <!-- idTypeProduct begin -->
    <div class="_input-group">
      <label for="categoria" class="_label"> Категория</label>
      <mat-form-field id="categoria" appearance="fill">
        <mat-select name="categoria"  matNativeControl [(ngModel)]="_select_Product.categoriaId" #categoria="ngModel" required >
          <mat-option *ngFor="let item of _categorias" [value]="item.id">{{
            item.name
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="categoria.invalid"> </mat-error>
      </mat-form-field>
    </div>

    <!--------------------------->
    <div class="_input-group">

      <mat-form-field
        id="nameProduct"
        class="_input-name"
        appearance="fill"
      >

      <mat-label>Название </mat-label>
        <span *ngIf="!ShowPrefix" matPrefix>{{ _select_Product.katalogName }} &nbsp; </span>
        <input matInput name="productname" #nameProduct="ngModel" [(ngModel)]="_select_Product.name"  required />
        <mat-error *ngIf="nameProduct.invalid"> </mat-error>

      </mat-form-field>
    </div>

    <mat-form-field id="PriceProduct" class="_input-price" appearance="fill">
      <mat-label>Цена</mat-label>
      <input matInput name="pace_product" [(ngModel)]="_select_Product.price" #price="ngModel" required pattern="[0-9]{1,7}"  />
      <span matPrefix>₽ &nbsp;</span>
      <span matSuffix>.00</span>
      <mat-error *ngIf="price.invalid"> </mat-error>
    </mat-form-field>

    <mat-form-field id="markupProduct" class="_input-price" appearance="fill">
      <mat-label>Торговая наценка</mat-label>
      <input matInput name="markup_product" [(ngModel)]="_select_Product.markup"  #markup="ngModel" required pattern="[0-9]{1,2}"  />
      <span matPrefix>% &nbsp;</span>
      <mat-error *ngIf="markup.invalid"> </mat-error>
    </mat-form-field>

    <!------------------------------------>
    <div class="_input-group">
      <label for="discription" class="_label">Описание товара </label>
      <mat-form-field id="discription" class="_input-price" appearance="fill">
        <textarea
         name="description_product"
          matInput
          [(ngModel)]="_select_Product.description"
          placeholder="описание товара"
          rows="5"
        >
        </textarea>
      </mat-form-field>
    </div>

    <!-----------img -render------------------------------------------>

    <app-img-render
      [_img_name]="_select_Product.imgName"
      [_rootSrc]="_select_Product.rootImgSrc"
      (_onChangedDtoImage)="onChangedDtoImage($event)"
      (_onFlagShowSaveDataBar)="onFlagButtonPanel($event)"
    ></app-img-render>
    <!---- error render 10.02.22 -->
    <div class="alert alert-danger" role="alert" *ngIf="_errorMgs?.length">

      <ul>
        <li *ngFor="let error of _errorMgs">
          {{ error }}
        </li>
      </ul>

    </div>

    <!---------------  Botton edit start (  panel buttons  )    -->

    <div [ngClass]="{'show_ButtonsPanel':_flagButtonShow}">
      <div class="d-flex justify-content-center">
        <button *ngIf="IsCreateView"
          mat-flat-button
          [disabled]="myForm.invalid||_flagInvalid"
          color="primary"
          (click)="saveIgnoreImgFromProduct()"
        >
          Сохранить Данные
        </button>

        <button *ngIf="IsCreateView"
          mat-flat-button
          [disabled]="myForm.invalid||_flagInvalid"
          color="primary"
          (click)="saveOnlyImgFromProduct()"
        >
          Сохранить Фото
        </button>
      </div>

      <div class="d-flex justify-content-center">
        <button
          mat-flat-button
          [disabled]="myForm.invalid||_flagInvalid"
          color="primary"

          (click)="saveProduct()"
        >
          Сохранить
        </button>
        <button *ngIf="IsCreateView"
          mat-flat-button
          color="warn"
          [disabled]="_flagInvalid"
          (click)="deleteProduct()"
        >
          Удалить
        </button>
        <button
          mat-flat-button
          color="accent"
          [disabled]="_flagInvalid"
          (click)="cancel()"
        >
          Отмена
        </button>
      </div>
    </div>
    </form>

    <!--button edit end-->
    <!---------ng-template #elseBlock end-------------------------------------------- -->
  </div>
  <!-- end  _flag_sendServerData-->
  <ng-template #elseSendData>
    <div class="_error " role="alert" *ngIf="_errorMgs?.length||_flagError">

      <ul>
        <li *ngFor="let error of _errorMgs">
          {{ error }}
        </li>
      </ul>

    </div>


    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="_progress"
      ></div>
    </div>
    <div class="row" style="text-align: center">
      <p>({{ _progress }})</p>
      <button
      mat-flat-button
      color="accent"

      (click)="undo()"
    >
      Отмена
    </button>
    <button
    mat-flat-button
    color="primary"

    (click)="OK()"
  >
   OK
  </button>
    </div>
  </ng-template>
</div>
