<div class="_contaner">
  <div *ngIf="!_flag_sendServerData; else elseBlock_2">
    <!-- begin edit  card ------------------------------------->

    <div class="_input-group">
      <label for="katalog" class="_label">Католог &nbsp; </label>
      <mat-form-field id="katalog" appearance="outline">
        <mat-label>id-( {{ _select_Product.id }})</mat-label>
        <input matInput disabled [value]="_select_Product.katalogName" />
      </mat-form-field>
    </div>

    <!--------------  Материал== t        -->
    <div class="_input-group">
      <label for="typeProduct" class="_label"> Материал</label>
      <mat-form-field id="typeProduct" appearance="fill">
        <mat-select [(value)]="_select_Product.typeProductId">
          <mat-option *ngFor="let item of _typeProducts" [value]="item.id">{{
            item.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- idTypeProduct begin -->

    <!--------------------------->
    <div class="_input-group">
      <label for="nameProduct" class="_label">Название </label>
      <mat-form-field
        id="nameProduct"
        class="_input-full-width"
        appearance="fill"
      >
        <span matPrefix>{{ _select_Product.katalogName }} &nbsp; </span>
        <input matInput #nameProductInput [(ngModel)]="_select_Product.name" />
      </mat-form-field>
    </div>

    <mat-form-field id="nameProduct" class="_input-price" appearance="fill">
      <mat-label>Цена</mat-label>
      <input matInput [(ngModel)]="_select_Product.price" />
      <span matPrefix>₽ &nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>

    <mat-form-field id="nameProduct" class="_input-price" appearance="fill">
      <mat-label>Торговая наценка</mat-label>
      <input matInput [(ngModel)]="_select_Product.markup" />
      <span matPrefix>% &nbsp;</span>
    </mat-form-field>

    <!------------------------------------>
    <div class="_input-group">
      <label for="discription" class="_label">Описание товара </label>
      <mat-form-field id="discription" class="_input-price" appearance="fill">
        <textarea
          matInput
          [(ngModel)]="_select_Product.description"
          placeholder="описание товара"
          rows="5"
        >
        </textarea>
      </mat-form-field>
    </div>

    <!-----------img -render------------------------------------------>

    <app-img-render
      [_img_name]="_select_Product.imgName"
      [_rootSrc]="_select_Product.rootImgSrc"
      (_onChangedDtoImage)="onChangedDtoImage($event)"
    ></app-img-render>

    <!---------------  Botton edit start        -->

    <div class="d-flex justify-content-center">

      <button  mat-flat-button color="primary" (click)="saveOnlyImgFromProduct()">
        Сохранить только Данные
      </button>

      <button mat-flat-button color="primary" (click)="saveOnlyImgFromProduct()">
        Сохранить только Фото
      </button>

    </div>

    <div class="d-flex justify-content-center">

      <button mat-flat-button color="primary" [disabled]="_flagInvalid" (click)="saveProduct()">
        Сохранить
      </button>
      <button mat-flat-button color="warn" [disabled]="_flagInvalid" (click)="deleteProduct()">
        Удалить
      </button>
      <button mat-flat-button color="accent" [disabled]="_flagInvalid" (click)="cancel()">
        Отмена
      </button>

    </div>

    <!--button edit end-->
    <!---------ng-template #elseBlock end-------------------------------------------- -->
  </div>
  <!-- end  _flag_sendServerData-->
  <ng-template #elseBlock_2>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="_progress"
      ></div>
    </div>
    <div class="row" style="text-align: center">
      <p>({{ _progress }})</p>
      <button class="btn btn-sm btn-warning" (click)="undo()">Отмена</button>
    </div>
  </ng-template>
</div>
