$c1: #d3e6df;
$c2: #fefefe;
$c3: #3b3f40;
$c5: #f3f6f6;
$c6: #8c989b;
$c7: #e5ebee;
$color-logo: #ffbd35;

$bg-header-color: #8c2b5e;
$bg-footer-color: #454e5e;
$bg-color:  #f3f6f6;// $c5;
$color:  #3b3f40;// $c3;
$h-color: #8c989b;// $c6;
$h-bg-color: salmon; // #cad2d4;
$h-old-color:#E87E04;
