@import './styles.scss';
//$bg-color:#f1f0f0;
._container {
  min-height: 400px;
  width: 100%;
  margin: 0 0;
  background-color: #fff;
  color: $color;
}

h4 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: $h-color;
}
