
<!---------------->
<div class="grid-container-menu" style="background-color: blueviolet">
  <div class="btn-danger text-center item-menu-1" routerLink="/manager">
    модуль admin
  </div>

  <div class="btn-warning text-center item-menu-2" >
    id(
    <span class="text-primary"> </span
    >)
    <span class="title">(Номенклатура)</span>
  </div>

  <div
    class="btn item-menu-3"
    style="display: none;"
  >
    <img src="./../../../assets/icon/add-button.png" height="25" />
  </div>
</div>
<!--- Output Error-->
<div class="c-1">
<div class="card">
<div class="card-body">
  <div class="h6 text-center mb-0 card-title">(Номенклатура)</div>
<p>на данный момент( создание и редактирование номенклатуры) администратором ресурса  не реализовано <br>
Предназначен для  выбора ткани ,ламината,мдф,столешницы и тд<br>
 В БД(база данных) существуют нет записей  </p>
  <div style="padding-left: 5rem;">
   -- обсуждается с поставщиками берется (с их ресурса при наличие( API--!!! )или вводится самостоятельно )<br>
  </div>

</div>
</div>
</div>
