<!---------------->
<div class="grid-container-menu bg-tools2 ">
  <div class="bg-tools text-center item-menu-1" routerLink="/manager">
    модуль manager
  </div>

  <div class="bg-tools3 text-center item-menu-2" (click)="cancel()">
    id(
    <span class="text-primary"> {{ _selectedKagalog.id }}</span>)
    {{ _selectedKagalog.name }} <span class="title">(katalog)</span>
  </div>

  <div class="btn item-menu-3" (click)="addItem()" [style.display]="_flagDisplayAddButton ? 'block' : 'none'">
    <img src="./../../../assets/icon/add-button.png" height="25" />
  </div>
</div>
<!--- Output Error-->

<!------------------->
<div [ngSwitch]="_flagViewMode">
  <ng-template ngSwitchDefault>
    <div class="container-fluid">
      <div class="grid-container">

        <button *ngFor="let item of _katalogs" class="btn" style="text-align: justify;padding: 0px;" [class.active]="item == _selectedKagalog"
          (click)="changeCategory(item)">
          <span class=" badge-btn ">{{
            item.id
            }}</span>
          <span style="padding: 1em;;">
            {{ item.name }}</span>

        </button>

      </div>
    </div>
  </ng-template>
  <!--  Create template -->
  <ng-template ngSwitchCase="create">
    <div class="create">
      <p>Создать Элемент</p>

      <input type="text" class="form-control" #idCreate [(ngModel)]="_selectedKagalog.name" autofocus />
      {{idCreate.focus()}}

      <div class="btn-group" role="group">
        <button class="btn btn-sm btn-success" (click)="saveItem()">
          Сохранить
        </button>
        <button class="btn btn-sm btn-warning" (click)="cancel()">
          Отмена
        </button>
      </div>
    </div>
  </ng-template>

  <!--  Edit -Delete template -->
  <ng-template ngSwitchCase="edit">
    <div class="edit">

      <p>Редактировать Элемент</p>
      <input type="text" class="form-control" [(ngModel)]="_selectedKagalog.name" />
      <div class="btn-group" role="group">
        <button class="btn btn-sm btn-success" (click)="saveItem()">
          Сохранить
        </button>
        <button class="btn btn-sm btn-danger" (click)="deleteItem()">
          Удалить
        </button>
        <button class="btn btn-sm btn-warning" (click)="cancel()">
          Отмена
        </button>
      </div>
    </div>
  </ng-template>
</div>
