@import './../styles/variables';

$nav-color:  $c5;
 $color-hover: #bec3c4;

.footer {
  display: block;
  //margin-left: 2rem;
  padding: 20px;
  background: $bg-footer-color;
  min-height: 60px;
  color: $nav-color;
 //align-items: ;
  text-align: left;

}


.nav_link {

  color: $nav-color;
  text-decoration: none;

  &:hover {
    color: $color-hover;
  }
}

