<!---------------->
<div class="grid-container-menu" style="background-color: blueviolet">
  <div class="btn-danger text-center item-menu-1" routerLink="/manager">
    модуль admin
  </div>

  <div class="btn-warning text-center item-menu-2" >
    id(
    <span class="text-primary"> </span
    >)
    <span class="title">(Тип Товара)</span>
  </div>

  <div
    class="btn item-menu-3"
    style="display: none;"
  >
    <img src="./../../../assets/icon/add-button.png" height="25" />
  </div>
</div>
<!--- Output Error-->
<div class="c-1">
<div class="card">
<div class="card-body">
  <div class="h6 text-center mb-0 card-title">(Тип Товара)</div>
<p>на данный момент( создание и редактирование типа-товара) администратором ресурса  не реализовано <br>
Предназначен для более детальной сортировки при большом количесве позиций  товара<br>
 В БД(база данных) существуют три  записи :  </p>
  <div style="padding-left: 5rem;">
  --  all(любая позиция -все позиции),<br>
   -- МДФ,<br>
   -- ЛДCП<br>
  </div>

</div>
</div>
</div>
