<div class="bg _container" style="background-image:url({{imgBgPath}});">
  <img src="{{imgBgLoad}}" style="display:none" (load)="changeBackground()" />
  <!----x_01 карусель   start -->


  <div class="bg-carusel-container">
    <div>
      <input class="form-check-input" type="checkbox" (click)="changedTheme()" checked id="flexCheckDefault" />
      <label class="form-check-label" [ngStyle]="{'color':flag_bg?'#3b3f40':'white'}" for="flexCheckDefault">
        Фон
      </label>
    </div>
    <div [ngStyle]="{'display':flag_bg?'none':'block'}">
      <div class="carousel-indicators">
        <span class="carousel-control-prev-icon" (click)="back()" aria-hidden="true"></span>
        <span data-bs-target="#carouselCaptions" [ngClass]="{'active': i==0}" (click)="changedPozition(0)"
          data-bs-target="#carouselCaptions"></span>
        <span data-bs-target="#carouselCaptions" [ngClass]="{'active': i==1}" (click)="changedPozition(1)"></span>
        <span data-bs-target="#carouselCaptions" [ngClass]="{'active': i==2}" (click)="changedPozition(2)"></span>



        <span class="carousel-control-next-icon" (click)="next()" aria-hidden="true"></span>
      </div>
    </div>
  </div>
  <!-- ------ карусель end -->
       <app-katalog [flagStyle]="flag_bg" ></app-katalog>

</div>
