<div class="grid-container-menu" style="background-color: blueviolet">
  <div class="btn-danger text-center item-menu-1" routerLink="/manager">
    модуль admin
  </div>

  <div class="btn-warning text-center item-menu-2" (click)="cancel()">
    id(
    <span class="text-primary"> {{ _selectedKagalog.id }}</span
    >)
    {{ _selectedKagalog.name }} <span class="title">(Товар)</span>
  </div>

  <div
    class="btn item-menu-3"
    (click)="addProduct()"
    [style.display]="_flagDisplayAddButton ? 'block' : 'none'"
  >
    <img src="./../../../assets/icon/add-button.png" height="25" />
  </div>
</div>
<!--- Output Error-->

<div
  name="outputError"
  [style.display]="_errorUotput ? 'block' : 'none'"
  class="alert alert-danger p-1"
  role="alert"
>
  {{ _error }}
</div>

<!-- template ngSwitch  ----------->
<div [ngSwitch]="_flagViewMode">
  <ng-template ngSwitchDefault>
    <div
      [ngClass]="{
        'grid-container2': _flagPanel2,
        'grid-container1': _flagPanel1
      }"
    >
      <div class="bg-primary" (click)="ViwePanel()">
        <div class="bg-warning" [ngClass]="{ hiden: _flagKatalogHiden }">
          <ul class="nav flex-column">
            <li
              *ngFor="let item of _katalogs"
              [class.active]="item == _selectedKagalog"
              class="nav-item"
              (click)="changeKagalog(item)"
            >
              {{ item.name }}
            </li>
          </ul>
        </div>
      </div>

      <div class="grid-sub-container-ms grid-sub-container">
        <div>id</div>
        <div>Name</div>
        <div>Price</div>
        <div class="hiden-description">descripstion</div>
        <div>images</div>

        <!-- start model view-->
        <ng-template ngFor let-product [ngForOf]="_products" let-i="index">
          <div
            [ngClass]="{ 'row-grid': i % 2 == 0 }"
            (click)="changeProduct(product)"
          >
            {{ product.id }}
          </div>

          <div
            [ngClass]="{ 'row-grid': i % 2 == 0 }"
            (click)="changeProduct(product)"
          >
            {{ product.name }}
          </div>
          <div
            [ngClass]="{ 'row-grid': i % 2 == 0 }"
            (click)="changeProduct(product)"
          >
            {{ product.price }}
          </div>
          <div
            class="hiden-description"
            [ngClass]="{ 'row-grid': i % 2 == 0 }"
            (click)="changeProduct(product)"
          >
            {{ product.description }}
          </div>

          <div
            [ngClass]="{ 'row-grid': i % 2 == 0 }"
            *ngIf="product.imgName; else elseBlock_3"
          >
            <img height="38" src="{{ _url_img }}{{ product.imgName }}" />
          </div>
          <ng-template #elseBlock_3>
            <div [ngClass]="{ 'row-grid': i % 2 == 0 }">
              <img height="38" src="{{ _url_img }}not_found.png" />
            </div>
          </ng-template>

          <!-- end  model view-->
        </ng-template>
      </div>
    </div>

    <!----------------- create end-->
  </ng-template>
  <ng-template ngSwitchCase="create">
    <div class="create">
      <!---------------------------create start-->

      <!-------------- -----edit-create bigin-Card --++++++++-->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Создать Элемент</h4>

          <div *ngIf="_flag_sendServerData; else elseBlock_1">


          <!-- begin CKedit5------------------------------------->
          <div
            class="input-group float-right input-group-sm d-flex justify-content-end"
          >
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="CKedit5" />
              </div>
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text">CKedit5</span>
            </div>
          </div>
          <!-- end --  CKedit5------------------------------------->

          <!-- begin edit  card ------------------------------------->

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">id</span>
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text">( {{ _selectedProduct.id }})</span>
            </div>
          </div>

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Каталог</span>
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text"
                >({{ _selectedKagalog.name }})</span
              >
            </div>
          </div>
          <!-- idTypeProduct begin -->
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Тип</span>
            </div>
            <div class="input-group-prepend dropdown">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
              >
                ({{ _selectedTypeProduct.name }})
              </button>
              <div class="dropdown-menu">
                <li
                  (click)="changeTypeProduct(item)"
                  *ngFor="let item of _typeProducts"
                >
                  {{ item.name }}
                </li>
              </div>
            </div>
          </div>
          <!--------------------------->



          <!-- idTypeProduct end-->

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Название</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="name"
              #name="ngModel"
              required
              [(ngModel)]="_selectedProduct.name"
              placeholder="Название"
            />

            <div
              [hidden]="name.valid || name.untouched"
              class="alert alert-danger p-1"
            >
              !
            </div>
          </div>

          <!----------                               end name model  -->

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Цена</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="price"
              #price="ngModel"
              required
              pattern="[0-9]{1,}"
              [(ngModel)]="_selectedProduct.price"
              placeholder="Цена"
            />
            <div
              [hidden]="price.valid || price.untouched"
              class="alert alert-danger p-1"
            >
              !
            </div>
          </div>

          <!--            end Price-->

          <div  class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Торговая наценка</span>
            </div>
            
            <input
              type="text"
              class="form-control"
              name="markup"
              #markup="ngModel"
              required
              pattern="[0-9]{1,}"
              [(ngModel)]="_selectedProduct.markup"
              placeholder="Торговая наценка"
            />

            <div
              [hidden]="markup.valid || markup.untouched"
              class="alert alert-danger p-1"
            >
              !
            </div>

          </div>

          <!------------  end Markup  ------------------------>
          <div class="form-group">
            <label>
              <span class="input-group-text">описание товара</span></label
            >
            <textarea
              [(ngModel)]="_selectedProduct.description"
              placeholder="описание товара"
              class="form-control"
              rows="3"
            ></textarea>
          </div>

          <!----------------------------------------------------->
          <div class="form-group">
            <div style="height: 350px;">
              <app-crop-upload-files
                (getCropImg)="onSetFilePhoto($event)"
              ></app-crop-upload-files>
            </div>
          </div>
          <!---- img -->


 <!-- end form  edit  card ------------------------------------->
      <!---------------  button form post start        -->

      <div class="row"  style="text-align: center;" [style.display]="_flagButton ? 'block' : 'none' ">
        <div class="btn-group "  role="group">
          <button
            name="saveButton"
            [disabled]="
              name.invalid || price.invalid || markup.invalid || _flagInvalid
            "
            class="btn btn-sm btn-success"
            (click)="saveProduct()"
          >
            Сохранить
          </button>

          <button class="btn btn-sm btn-warning" (click)="cancel()">
            Отмена
          </button>
        </div>
      </div>
       <!---------------  button form post end       -->
      </div>
      <ng-template #elseBlock_1>
        <div class="progress" >
          <div class="progress-bar" role="progressbar" [style.width.%]="_progress"   ></div>
        </div>
        <!--------------------->


         <!----  -->
        <div class="row"  style="text-align: center;">
          <p>({{_progress}})</p>
        <button class="btn btn-sm btn-warning" (click)="undo()">
          Отмена
        </button>
        </div>
      </ng-template>
      <!----------------------------------------------       -->
    </div>

    </div>  <!-- end card-->
    </div>  <!-- end create-->

    <!-- end   ------------------->
  </ng-template>

  <ng-template ngSwitchCase="edit">
    <div class="edit">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Редактировать элемент</h4>

          <div *ngIf="_flag_sendServerData; else elseBlock_2">
          <!-- begin CKedit5------------------------------------->
          <div
            class="input-group float-right input-group-sm d-flex justify-content-end"
          >
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="CKedit5" />
              </div>
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text">CKedit5</span>
            </div>
          </div>
          <!-- end --  CKedit5------------------------------------->

          <!-- begin edit  card ------------------------------------->

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">id</span>
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text">( {{ _selectedProduct.id }})</span>
            </div>
          </div>

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Католог</span>
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text"
                >({{ _selectedKagalog.name }})</span
              >
            </div>
          </div>
          <!--------------          -->

          <!-- idTypeProduct begin -->
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Тип</span>
            </div>
            <div class="input-group-prepend dropdown">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle"

                data-toggle="dropdown"
              >
                ({{ _selectedTypeProduct.name }})
              </button>
              <div class="dropdown-menu">
                <li
                  (click)="changeTypeProduct(item)"
                  (change)="onEditFormChange()"
                  *ngFor="let item of _typeProducts"
                >
                  {{ item.name }}
                </li>
              </div>
            </div>
          </div>
          <!--------------------------->

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend ">
              <span class="input-group-text">Название</span>
            </div>
            <input
              type="text"
              (change)="onEditFormChange()"
              class="form-control"
              #nameEdit="ngModel"
              required
              [(ngModel)]="_selectedProduct.name"
              placeholder="Название"
            />
            <div
            [hidden]="nameEdit.valid || priceEdit.untouched"
            class="alert alert-danger p-1"
          >
            !
          </div>
          </div>

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Цена</span>
            </div>
            <input
              type="text"
              #priceEdit="ngModel"
              (change)="onEditFormChange()"
              class="form-control"
              required
              pattern="[0-9]{1,}"
              [(ngModel)]="_selectedProduct.price"
              placeholder="Цена"
            />
            <div
              [hidden]="priceEdit.valid || priceEdit.untouched"
              class="alert alert-danger p-1"
            >
              !
            </div>
          </div>

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Торговая наценка</span>
            </div>
            <input
              type="text"
              name="markupEdit"
              (change)="onEditFormChange()"
              #markupEdit="ngModel"
              class="form-control"
              required
              pattern="[0-9]{1,}"
              [(ngModel)]="_selectedProduct.markup"
              placeholder="Торговая наценка"
            />
            <div
              [hidden]="markupEdit.valid || markupEdit.untouched"
              class="alert alert-danger p-1"
            >
              !
            </div>
          </div>

          <!------------------------------------>
          <div class="form-group">
            <label>
              <span class="input-group-text">описание товара</span></label
            >
            <textarea
              [(ngModel)]="_selectedProduct.description"
              (change)="onEditFormChange()"

              placeholder="описание товара"
              class="form-control"
              rows="3"
            ></textarea>
          </div>

          <!----------------------------------------------------->

          <div class="form-group">
            <div >
            <div   [style.height]="_flag_ng_template ? '50px' : '350px'">
              <app-crop-upload-files
                (getCropImg)="onSetFilePhoto($event)"
              ></app-crop-upload-files>
            </div>
          </div>
          </div>
          <div [style.display]="_flagPhoto ? 'block' : 'none'">
          <div class="d-flex justify-content-center">
            <!-----creat _flagBase64---------------------------------->
            <img
              [src]="this._selectedProduct.imageBase64"

              class="img-wrap mb-3"
            />
          </div>
        </div>

          <!---------------  Botton edit start        -->

          <div class="d-flex justify-content-center">
            <div class="btn-group text-center" role="group">
              <button
              class="btn btn-sm btn-success"
              [disabled]="
              nameEdit.invalid || priceEdit.invalid || markupEdit.invalid || _flagInvalid
            "
              (click)="saveProduct()">
                Сохранить
              </button>
              <button class="btn btn-sm btn-danger" (click)="deleteModel()">
                Удалить
              </button>
              <button class="btn btn-sm btn-warning" (click)="cancel()">
                Отмена
              </button>
            </div>
          </div>
          <!--button edit end-->
          </div> <!-- end  _flag_sendServerData-->
          <ng-template #elseBlock_2>
            <div class="progress" >
              <div class="progress-bar" role="progressbar" [style.width.%]="_progress"   ></div>
            </div>
            <div class="row"  style="text-align: center;">
              <p>({{_progress}})</p>
            <button class="btn btn-sm btn-warning" (click)="undo()">
              Отмена
            </button>
            </div>
          </ng-template>
        </div> <!--card-body end-->
      </div> <!-- card  end-->
    </div> <!-- div edit end -->
    <!-- end edit  ------------------->
  </ng-template>
</div>
