@import "./../../../styles/content-styles.scss";

.carousel {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

}





.active {

}

@media (min-width: 560px) {
  .carousel {
    width: 500px;
    margin-left: auto;
    margin-right: auto;

  }

}
